<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Create</title>
    <link rel="stylesheet" href="/../../public/form.css" type="text/css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="left-nav">
          <a href="/"
            ><img
              src="https://static.wixstatic.com/media/ab2f5c_4090dbbaeafb4b0d975bd44c6cd498f6~mv2_d_5000_3314_s_4_2.png/v1/fill/w_262,h_78,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/code-colored.png"
              alt="logo"
          /></a>
        </div>
        <div class="middle-nav">
          <ul>
            <li><a href="/authors">Author</a></li>
            <li><a href="/books" class="active">Book</a></li>
            <li><a href="/authorbooks">AuthorBook</a></li>
          </ul>
        </div>
        <div class="right-nav">
          <a href="#">Contact Me</a>
        </div>
      </nav>
    </header>
    <main>
      <div class="card">
        <form action="/books/create" method="post">
          <div class="form">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Lord of The Rings 2"/>
          </div>
          <div class="form">
            <label for="genre">Genre</label>
            <input type="text" name="genre" placeholder="Fantasy"/>
          </div>
          <div class="form">
            <label for="publisher">Publisher</label>
            <input type="text" name="publisher" placeholder="Maju Terus Merdeka"/>
          </div>
          <div class="form">
            <label for="publicationYear">Publication Year</label>
            <input type="number" name="publicationYear" placeholder="1995" />
          </div>
          <button type="submit">
            Submit
          </button>
        </form>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
